// 颜色规范
$c-bg= #222
$c-bg-d= rgba(0,0,0,0.3)
$c-hig-bg= #333
$c-dia-bg= #666

// 主题
$c-theme= #ffcd32
$c-theme-d= rgba(255,205,49,0.5)
$c-sub-theme= #d93f30

// 字体颜色
$c-text= #fff
$c-text-d= rgba(255,255,255,.3)
$c-text-l= rgba(255,255,255,.5)
$c-text-ll= rgba(255,255,255,0.9)

// 字体大小
$font-size-s= 10px
$font-size-m= 12px
$font-size-x= 14px
$font-size-l= 16px
$font-size-xl= 18px
$font-size-xlll= 20px
$font-size-xll= 22px
